.category-box {
  border: 1px solid #ccc;
  padding: 10px;  
  margin: 20px;
}

.category-box ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.category-box a {
  display: block; 
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin: 5px;
  text-align: center;
}

.account-links {
  color: black;
  text-align: left;
  vertical-align: top;
}

.aside-page {
  position: relative;
}

.account-links {
  position: absolute;
  top: 0;
  left: 80px;
}

.location {
  display: inline-block;
}
.User {
  float: left;
  font-size: 14px;
  text-align:
  }

  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  input[type="file"]::before {
    content: 'رفع صورة';
    display: inline-block;
    background: green;
    color: white;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="file"]::after {
    color: white;
  }
